body {
    font-family: 'Open Sans', sans-serif;
  }
  .breadcrumb-item {
    font-size: 0.8em !important;
  }
  .ellipsis{
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* 넘치는 text를 ...로 표시 */
  }
  
  .board-table {
    table-layout: fixed;
  }
  .board-table .date {
    width: 100px;
  }
  
  .post-body{
    white-space: pre-line; /* \n이 되게 하는 코드 */
  }
  .post-info{
    font-size: 0.8em;
  }